.navbarMain {
  flex: 1;
  margin-top: rem(25px);
}

.logo {
  color: var(--mantine-color-white);
}

.link {
  width: rem(50px);
  height: rem(50px);
  border-radius: var(--mantine-radius-md);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--mantine-color-white);

  &:hover {
    background-color: var(--mantine-color-blue-7);
  }

  &[data-active] {

    &,
    &:hover {
      box-shadow: var(--mantine-shadow-sm);
      background-color: var(--mantine-color-white);
      color: var(--mantine-color-blue-6);
    }
  }
}